#uniqueid {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

svg {
	shape-rendering: crispEdges; /* holy grail */
}

.axis path { /* axis line */
  stroke: none;
  stroke-width: 0;
}

.axis line { /* tickmarks */
  stroke: black;
}

.axis text { /* labels */
  font-family: sans-serif;
}

rect:hover { /* all rects except those in the 'squished' heatmaps */
  fill-opacity: 0.5;
}

.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  background-color: white;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  /*word-wrap: break-word;*/
}

#settings { /* the control panel is only tooltip to have pointer events */
	pointer-events: all;
}

.hidden { /* used for hiding tooltips */
	display: none;
}

.tooltip p { /* all text inside tooltips */
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.selection { /* sliding window for zoom/pan */
	fill: lightgray;
	fill-opacity: 0.2;
	stroke: gray;
}

.annoTitle { /* title(s) of the color key(s) */
	font-family: sans-serif;
	font-weight: bold;
}

.tooltip td:nth-child(1) p { /* the row names in the tooltip's table */
	font-weight: bold;
	text-align: right;
}

.tooltip td:nth-child(2) { /* values in each row */
	padding-left: 5px;
}

.tooltip > p { /* title(s) of the tooltip(s) */
	font-weight: bold;
}
